@model MSDNRoles.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container">
    <h2>@User.Identity.Name</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Promjeni svoje postavke</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Lozinka:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Promjeni lozinku", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Stvori", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>
        </dl>
    </div>
</div>